@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
}
html{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body{
    
    background-image: url('../imagens/plano-de-fundo.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 100vh;
    width: 100vw;
}
section#smartphone{
    background-image: url('../imagens/smartphone.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 311px;
    height: 627px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   

}

iframe#screen{
    position: relative;
    border-radius: 3px;
    top: 79px;
    left: 21px;
    width: 269px;
    height: 474px;
}
section#minhasredes {
    
    
    position: fixed;
    top: 25%;
    
}
a{
    text-decoration: none;
    display: inline;
    
}
section#minhasredes img{
    box-sizing: border-box;
    width: 60px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.511);

}
section#minhasredes img:hover{
    
    border: 2.5px solid rgba(255, 255, 255, 0.742);
    position: relative;
    left: -7px;
    
    transition: border 0.4s;
    
    

}