@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
img{

    width: 100vw;
    
}
::-webkit-scrollbar{
    width: 0px;
    
}
a{

    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    padding: 15px;
    display: block;
    color: rgba(255, 255, 255, 0.709);
    background-color: brown;
}
a:hover{
    background-color: rgb(222, 57, 57);
    color: white;
    font-size: 1.1em;
}